/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Roboto:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: #6CACE0;
  --title-color: #27292A;
  --text-color: #45484A;
  --text-color-light: #8A8F93;
  --body-color: #FCFCFD;
  --container-color: #F2F2F3;

  /* Change the first number */
  /* Blue: 207 - Purple: 250 - Pink: 356 - Teal: 174 */
  --gradient-color: linear-gradient(180deg,
                      hsla(207, 48%, 72%, 0),
                      hsla(207, 65%, 65%, 1));

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Roboto', sans-serif;
  --title-font: 'Lora', serif;
  --biggest-font-size: 1.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
    --tiny-font-size: .688rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color .4s; /* for dark mode animation */
}

h1, h2, h3 {
  color: var(--title-color);
  font-family:'Lora', serif;
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.nav__buttons{
 display: flex; 
 align-items: center;
 column-gap: 1.5rem;
}

.change-theme{
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color .3s;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: #F2F2F3;
  --text-color: #A2A6A9;
  --body-color: #181A1B;
  --container-color: #1D1F20;
}

/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/
.dark-theme .nav,
.dark-theme .nav-menu,
.dark-theme .scroll-up{
  background-color: var(--container-color);
  box-shadow: 0 4px 20px hsla(207, 24%, 8% , .4);
}

.dark-theme .home-shape-circle,
.dark-theme .home-shape-wawes,
.dark-theme .qualification-img,
.dark-theme .testimonial-img{
  filter: invert(1);
}

.dark-theme .home-social-link{
  color: var(--title-color);
}

.dark-theme .section__border{
  border-bottom: 1px solid hsl(207 , 4% , 32%);
}

.dark-theme::-webkit-scrollbar{
  background-color : hsl(207, 4%  , 15%)
}

.dark-theme::-webkit-scrollbar-thumb{
  background-color : hsl(207, 4%  , 25%)
}

.dark-theme::-webkit-scrollbar-thumb:hover{
  background-color : hsl(207, 4%  , 35%)
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}
 
.section {
  padding-block: 2.5rem;
}

.section__border {
  border-bottom: 1px solid var(--title-color);
  padding-bottom: 3.5rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: .25rem;
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 3rem;
}

.main {
  overflow: hidden; /* For animation */
}

/*=============== HEADER & NAV ===============*/
.header{
  width: 100%;
  position: fixed;
  bottom: 2rem;
  left: 0;
  z-index: var(--z-fixed);

}

.nav{
  height: calc(var(--header-height) + .5rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--body-color);
  box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
  padding-inline: 1.5rem;
  border-radius: 3rem;
  transition: background-color .4s; /* for dark mode animation */
}

.nav-logo,
.nav__toggle,
.nav__close{
  color: var(--title-color);
}

.nav-logo{
  font-family: var(--title-font);
  font-weight: var(--font-medium);
}

.nav__toggle{
  display: flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .nav-menu{
    position: fixed;
    width: 88%;
    left: 0;
    right: 0;
    bottom: -60%;
    margin: 0 auto;
    background-color: var(--body-color);
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
    padding: 2rem 1.5rem 5rem;
    border-radius: 2rem;
    transition: bottom .3s;
  }
}

.nav__list{
  grid-template-columns: repeat(3 , max-content);
  justify-content: center;
  gap: 2rem 3rem;
}

.nav__link{
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: .25rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  transition: color .3s;
}

.nav__link:hover{
  color: var(--title-color);
}

.nav__link i{
  font-size: 1.25rem;
}

.nav__close{
  position: absolute;
  right: 1.5rem;
  bottom: .7rem;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Active link */
.active-link{
  color: var(--title-color);
}
/* Show menu */
.show-menu{
  bottom: 2rem;
}

/*=============== HOME ===============*/
.home-container{
  row-gap: 4rem;
  padding-top: 2rem;
}

.home-data{
  row-gap: 1.5rem;
}

.home-title{
  text-align: center;
  font-size: var(--biggest-font-size);
  letter-spacing: .3px;
  margin: .5rem;

}

.home-blob{
  position: relative;
  width: 200px;
  height: 290px;
  background-color: var(--body-color);
  border: 2px solid var(--text-color-light);
  justify-self: center;
  border-radius: 6.25rem;
  place-items: center;
  transition: background-color .4s; /* for dark mode animation */
}

.home-profile{
  width: 170px;
  height: 260px;
  background: var(--gradient-color);
  border-radius: 5.5rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.home-profile:hover img{
  scale: 1.05;
}

.home-blob:hover .home-shape-circle{
  scale: 1.08;
}

.home-blob:hover .home-shape-wawes{
  transform: translateX(-8px);
}
.home-profile img{
  width: 150px;
  transition: scale .3s;
}

.home-shape-wawes,
.home-shape-circle{
  position: absolute;
  opacity: .1;
  transition: .3s;
}

.home-shape-wawes{
  width: 50px;
  left: -1.5rem;
  top: 5rem;
}

.home-shape-circle{
  width: 150px;
  bottom: -2rem;
  right: -3rem;
  transform: rotate(15deg);
  z-index: -1;
}

.home-social{
  justify-self: center;
  display: flex;
  column-gap: 1.25rem;
}

.home-social-link{
  font-size: 1.25rem;
  color: var(--text-color-light);
  transform: color .3s;
}

.home-social-link:hover{
  color: var(--title-color);
}

.home-info{
  display: grid;
  row-gap: 2rem;
}

.home-info-title{
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
  font-weight: 400;
  color: var(--text-color-light);
  margin-bottom: 1 rem ;
}

.home-info-description,
.home-info-number{
  font-family: var(--title-font);
  color: var(--title-color);
}

.home-info-number{
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
}
/*=============== SKILLS ===============*/
.skills-container{
  row-gap: 3.5rem;
}

.skills-title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.skills-title i{
  font-size: 1rem;
  font-weight: initial;
}

.skills-info,
.skills-data{
  display: grid;
}

.skills-info{
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem 2rem;
}

.skills-data{
  justify-content:center ;
  text-align: center;
}

.skills-blob{
  width: 80px;
  height: 100px;
  background-color: var(--container-color);
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom:1rem ;
  transition: background-color .4s; /* for dark mode animation */
}

.skills-blob img{
  width: 40px;
}

.skills-name{
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.skills-subtitle{
  font-size: var(--tiny-font-size);
  color: var(--text-color-light);
}

/* Animation skills */
.skills-blob:hover img{
  animation: bounce-skills .6s;
}

@keyframes bounce-skills{
  0%{
    transform: translate(0);
  }
  20%{
    transform: translateY(-6px);
  }
  40%{
    transform: translate(0);
  }
  60%{
    transform: translateY(-3px);
  }
  80%{
    transform: translate(0);
  }
}

/*=============== QUALIFICATION ===============*/
.qualification{
  position: relative;
}

.qualification-container{
  row-gap: 3.5rem;
}

.qualification-title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2rem;
}

.qualification-title i{
  font-size: 1rem;
  font-weight: initial;
}

.qualification-info{
  display: grid;
  row-gap: 2rem;
}

.qualification-name{
  font-size: var(--normal-font-size);
  margin-bottom: 1.25rem;
}

.qualification-country,
.qualification-year{
  display: block;
  font-size: var(--small-font-size);
}

.qualification-country{
  margin-bottom: .75rem;
}

.qualification-img{
  width: 150px;
  position: absolute;
  right: -3rem;
  bottom: 12rem;
  transform: rotate(15deg);
  opacity: .1;
}

/*=============== SERVICES ===============*/
.services-container{
  row-gap: 2.5rem;
  justify-content: center;
}

.services-card{
  position: relative;
  width: 228px;
  height: 332px;
  background-color: var(--container-color);
  text-align: center;
  padding: 3.5rem 1rem;
  border-radius: 7.25rem;
  transition: background-color .4s; /* for dark mode animation */
}

.services-card i{
  display: block;
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .75rem;
  transition: transform .8s ;
}

.services-title{
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom:1.5rem;
}

.services-border{
  width: 248px;height: 342px;
  border: 1.8px solid var(--text-color-light) ;
  border-radius: 7.75rem;
  position: absolute;
  inset: 0;
  left: -10px;
  margin: auto;
  z-index: -1;
  transition: opacity .6s;
  opacity: 0;
}

.services-card:hover i{
  transform: rotateY(360deg);
}

.services-card:hover .services-border{
  opacity: 1;
}

/*=============== PROJECTS ===============*/
.projects-container{
  overflow: initial;
}

.projects-content{
  display: grid;
  justify-content: center;
}

.projects-img{
  width: 250px;
  border-radius: .75rem;
  margin-bottom: 1.25rem;
}

.projects-subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.projects-title{
  font-size: var(--h2-font-size);
  margin-bottom: 1.25rem;
  margin: .5rem 0 1.25rem;
}

.projects-button{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.projects-button i{
  font-size: 1rem;
  transition: transform .3s;
}

.projects-button:hover i{
  transform: translateX(.25rem);
}
/* Swiper class */
.projects-container .swiper-button-prev::after,
.projects-container .swiper-button-next::after{
  content: '';
}

.projects-container .swiper-button-prev,
.projects-container .swiper-button-next{
  width: initial;
  height: initial;
  margin: initial;
  font-size: 2.5rem;
  color: var(--title-color); 
}

.projects-container .swiper-button-prev{
  left: -1rem;
  top: 4.5rem;
}

.projects-container .swiper-button-next{
  right: -1rem;
  top: 4.5rem;
}

.projects-container .swiper-slide{
  margin-bottom: 4.5rem;
}

.projects-container .swiper-pagination-bullet{
  bottom: 0;
}

.projects-container .swiper-pagination-bullet{
  background-color: var(--text-color-light);
  opacity: initial;
}

.projects-container .swiper-pagination-bullet-active{
  background-color: var(--text-color);
  opacity: initial;
}
/*=============== TESTIMONIAL ===============*/
.testimonial{
  position: relative;
}

.testimonial-content{
  text-align: center;
}

.testimonial-description{
  font-family: var(--title-font);
  color: var(--title-color);
  margin-bottom: 1.5rem;
}

.testimonial-name{
  font-family: var(--body-font);
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.testimonial-subtitle{
  font-style: var(--smaller-font-size);
  color: var(--text-color-light);
}

.testimonial-img{
  width: 70px;
  transform: rotate(30deg);
  position: absolute;
  top: 5rem;
  right: -1.5rem;
  opacity: .1;
}
/* Swiper class */
.testimonial-container .swiper-slide{
  margin-bottom: 4rem;
}

.testimonial-container .swiper-button-next::after,
.testimonial-container .swiper-button-prev::after{
  content: '';
}

.testimonial-container .swiper-button-next,
.testimonial-container .swiper-button-prev{
  font-size: 2rem;
  color: var(--title-color);
  width: initial;
  height: initial;
  top: initial;
  bottom: .5rem;
}

.testimonial-container .swiper-button-prev{
  left: calc(50% - 3rem);
}

.testimonial-container .swiper-button-next{
  right: calc(50% - 3rem);
}

.testimonial-container .swiper-button-prev-disabled{
  opacity: initial;
  color: var(--text-color-light);
}
/*=============== CONTACT ===============*/
.contact-container{
  row-gap: 3.5rem;
}

.contact-title{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: .5rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.contact-title i{
  font-size: 1rem;
  font-weight: initial ;
}

.contact-info,
.contact-data,
.contact-form{
  display: grid;
}

.contact-info{
  row-gap: 2rem;
}

.contact-data{
  row-gap: .75rem;
}

.contact-data-title{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact-data-info{
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-family: var(--title-font);
}

.contact-button{
  width: max-content;
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
}

.contact-button i{
  font-size: 1rem;
  transition: transform .3s;
}

.contact-button:hover i{
  transform: translateX(.25rem);
}

.contact-form{
  position: relative;
  row-gap: 2rem;
}

.contact-form-div{
  position: relative;
  height: 4rem;
}

.contact-form-input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-light);
  border-radius: 2rem;
  padding: 1.5rem;
  font-size: var(--normal-font-size);
  font-family: var(--title-font);
  color: var(--title-color);
  background: none;
  outline: none;
  z-index: 1;
}

.contact-form-tag{
  position: absolute;
  top: -.75rem;
  left: 1.25em;
  z-index: 10;
  background-color: var(--body-color);
  color: var(--title-color);
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  padding: .35rem;
  transition: background-color .4s; /* for dark mode animation */
}

.contact-form-area{
  height: 10rem;
}
.contact-form-area textarea{
  resize: none;
}

.contact-form .contact-button{
  border: none;
  background: none;
  font-size: var(--h2-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-semi-bold);
  cursor: pointer;
  outline: none;
  margin-top: .75rem;
}

.contact-form .contact-button i{
  font-size: 1.5rem;
  font-weight: initial;
}

.contact-message{
  font-size: var(--small-font-size);
  position: absolute;
  bottom: 2.8rem;
  left: 1.5rem;
}

/* Status color */
.color-red{
  color: hsla(4, 71%, 50%,);
}

.color-blue{
  color: hsla(207, 56%, 45%,);
}

/*=============== FOOTER ===============*/
.footer-container{
  padding: 3rem 0 7rem;
  text-align: center;
}

.footer-title{
  font-size: var(--h1-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer-list,
.footer-social{
  display: flex;
  justify-content: center;
}

.footer-list{
  margin: 2.5rem 0;
  column-gap: 2.5rem;
}

.footer-link{
  color: var(--title-color);
}

.footer-link:hover{
  text-decoration: underline;
}

.footer-social{
  column-gap: 1.25rem;
}

.footer-social-link{
  font-size: 1.25rem;
  color: var(--title-color);
  transition: transform .3s ;
}

.footer-social-link:hover{
  transform: translateY(-.15rem);
}

.footer-copy{
  display: block;
  margin-top: 4.5rem;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsla(207, 4%, 75%);
}

::-webkit-scrollbar-thumb{
  background-color: hsla(207, 4%, 65%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsla(207, 4%, 55%);
}

/*=============== SCROLL UP ===============*/
.scroll-up{
  position: fixed;
  right: 1rem;
  bottom: -30%;
  background-color: var(--body-color);
  box-shadow: 0 4px 12px hsla(207, 24%, 35%, .15);
  display: inline-flex;
  padding: .35rem;
  border-radius: .25rem ;
  font-size: 1.1rem;
  color: var(--title-color);
  z-index: var(--z-tooltip);
  transition: bottom .3s , transform .3s;
}

.scroll-up:hover{
  transform: translateY(-.25rem);
}

/* Show Scroll Up*/

.show-scroll{
  bottom: 7.5rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container{
    margin-inline: 1rem;
  }

  .nav-menu{
    padding-bottom: 4rem;
  }

  .nav__list{
    gap: 1rem 1.25rem;
  }

  .skills-info{
    grid-template-columns: repeat(2, 1fr);
  }

  .projects-img{
    width: 200px;
    justify-content: center;
  }
}
/* For medium devices */
@media screen and (min-width: 576px)   {
  .nav,
  .nav-menu{
    width: 380px;
  }

  .nav{
    margin: 0 auto;
  }

  .skills-container{
    justify-content: center;
  }

  .projects-container,
  .testimonial-container{
    width: 400px;
  }

  .projects-container{
    overflow: hidden;
  }

  .projects-container .swiper-button-prev{
    left: 1rem; 
  }
  .projects-container .swiper-button-next{
    right: 1rem; 
  }
}


@media screen and (min-width: 767px){
  .home-container{
    grid-template-columns: 1fr 2fr 1fr;
  }

  .home-data{
    order: 2;
  }

  .home-info:nth-child(3){
    order: 3;
    text-align: right;
  }

  .home-info{
    margin-top: 10rem;
  }

  .home-info-description{
    padding-right: 0;
  }

  .skills-container,
  .qualification-container,
  .services-container,
  .contact-container{
    grid-template-columns: repeat(2, max-content);
  }
  .skills-container,
  .services-container{
    column-gap: 5rem;
  }

  .qualification-container{
    justify-content: center;
    column-gap: 10rem;
  }

  .projects-container{
    width: 500px;
  }

  .contact-form{
    width: 360px;
  }

  .contact-container{
    justify-content: center;
     column-gap: 8rem;
  }

} 

/* For large devices */
@media screen and (min-width: 1023px) {
  .header{
    top: 0;
    bottom: initial;
    background-color: var(--body-color);
    transition: .4s;
  }

  .nav{
    width: initial;
    height: calc(var(--header-height) + 1.5rem);
    box-shadow: none;
    border-radius: 0;
    column-gap: 3rem;
    margin-inline: 1.5rem;
    padding: 0;
  }

  .nav__link i,
  .nav__toggle,
  .nav__close{
    display: none;
  }

  .nav-menu{
    width: initial;
    margin-left: auto;
    background-color: var(--body-color);
    transition: background-color .4s;
  }

  .nav__list{
    display: flex;
    column-gap: 3rem;
  }

  .nav__link{
    font-size: var(--normal-font-size);
  }

  .dark-theme .nav,
  .dark-theme .nav-menu{
    background-color: var(--body-color);
    box-shadow: none;
  }

  .change-theme{
    color: var(--text-color-light);
  }

  .change-theme:hover{
    color: var(--title-color);
  }

  .section{
    padding-block: 8rem 0;
  }

  .home-title{
    font-size: 2.25rem;
  }

  .scroll-up{
    right: 3rem;
  }

  .show-scroll{
    bottom: 5rem;
  }

  /* change Background Header  */
  .bg-header{
    box-shadow: 0 4px 20px hsla(207, 24%, 35%, .1);
  }

  .dark-theme .bg-header{
    box-shadow: 0 6px 24px hsla(207, 24%, 8%, .6);
  }
}

@media screen and (min-width: 1048px) {
  .container{
    margin-inline: auto;
  }
}

@media screen and (min-width: 1200px) {
  .section__border{
    padding-bottom: 6rem;
  }

  .section__subtitle{
    margin-bottom: 5rem;
  }

  .home-title{
    font-size: var(--biggest-font-size);
  }

  .home-blob{
    width: 400px;
    height: 580px;
    border-radius: 12.5rem;
  }

  .home-profile{
    width: 340px;
    height: 520px;
    border-radius: 10.6rem;
  }

  .home-profile img{
    width: 3000px;
  }

  .home-shape-wawes{
    width: 100px;
    left: -4rem;
    top: 10rem;
  }
  .home-shape-circle{
    width: 250px;
    right: -5rem;
    bottom: -1rem;
  }

  .home-data{
    row-gap: 2.5rem;
  }

  .home-social{
    column-gap: 2rem;
  }

  .home-social-link{
    font-size: 1.5rem;
  }

  .home-info{
    grid-template-rows: repeat(3 , 130px);
    row-gap: 4rem;
    margin-top: 16rem;
  }

  .skills-container{
    column-gap: 10rem;
  }

  .skills-title{
    margin-bottom: 3rem;
  }

  .skills-title i{
    font-size: 1.25rem;
  }

  .skills-name{
    font-size: var(--normal-font-size);
  }

  .skills-info{
    gap: 3rem;
  }

  .qualification-container{
    column-gap: 14rem;
  }

  .qualification-title{
    margin-bottom: 3rem;
  }

  .qualification-title i{
    font-size: 1.25rem;
  }

  .qualification-name{
    font-size: var(--h3-font-size);
  }

  .qualification-img{
    width: 300px;
    left: -6rem;
    bottom: 5rem;
  }

  .services-container{
    grid-template-columns: repeat(3, max-content);
  }

  .services-card{
    width: 245px;
    height: 345px;
    border-radius: 7.6rem;
    padding: 3.5rem 1.5rem;
  }

  .services-card i{
    font-size: 2.5rem;
  }

  .services-border{
    width: 265px;
    height: 365px;
    border-radius: 8.25rem;
  }

  .projects-container{
    width: 900px;
  }

  .projects-container .swiper-button-prev,
  .projects-container .swiper-button-next{
    font-size: 3rem;
  }

  .projects-container .swiper-button-prev{
    left: -1rem;
  }

  .projects-container .swiper-button-next{
    right: -1rem;
  }

  .projects-container .swiper-slide{
    margin-bottom: 6.5rem;
  }

  .projects-img{
    width: 320px;
    margin-bottom: 2rem;
  }

  .testimonial-container{
    width: 566px;
  }

  .testimonial-container .swiper-button-prev,
  .testimonial-container .swiper-button-next{
    font-size: 2.5rem;
  }

  .testimonial-container .swiper-button-prev{
    left: calc(50% - 5rem);
  }

  .testimonial-container .swiper-button-next{
    right: calc(50% - 5rem);
  }

  .testimonial-container .swiper-slide{
    margin-bottom: 6rem;
  }

  .testimonial-description{
    font-size: var(--h2-font-size);
    margin-bottom: 2rem;
  }

  .testimonial-img{
    width: 200px;
    top: 13rem;
    right: 4rem;
  }

  .contact-title{
    margin-bottom: 3rem;
  }

  .contact-title i{
    font-size: 1.25rem;
  }

  .contact-info{
    row-gap: 3rem;
  }

  .contact-data-info{
    font-size: var(--normal-font-size);
  }

  .contact-form{
    row-gap: 2.5rem;
  }

  .footer-container{
    padding: 4rem 0 3rem;
  }

  .footer-list{
    column-gap: 3rem;
    margin: 3rem 0;
  }

  .footer-social{
    column-gap: 2rem;
  }

  .footer-social-link{
    font-size: 1.5rem;
  }

  .footer-copy{
    margin-top: 5rem;
  }
}